<h2>Sign up</h2>


  <div class="large-7 columns">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
      <div class="form-inputs">
        <label><%= f.input :first_name, label: 'First Name', :required => true, :autofocus => true %></label>
        <label><%= f.input :last_name, label: 'Last Name', :required => true, :autofocus => true  %></label>
        <label><%= f.input :email,  :required => true, :autofocus => true %></label>
        <label><%= f.input :password, :required => true %></label>
        <label><%= f.input :password_confirmation, label: 'Password Confirmation',:required => true %></label>
      </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
      <% end %>

<%= render "devise/shared/links" %>
