<h1>Ratings</h1>

<div id="ratings">
  <% @ratings.each do |rating| %>
      <%= rating.overall_rating %>
      <%= rating.flavor %>
      <%= rating.presentation %>
      <%= rating.additional_comments %>
    <% end %>
</div>

<p>
  <%= link_to "New Ratings", [:new, @ratable, :rating]%>
</p>
