<h1>Food</h1>

   <% @products.each do |product| %>
    Product <%= link_to "#{product.name}", product_path(product) %><br/><br/>
    <%= product.photo %><br/>
    <%= product.description %><br/>
    <%= product.price %><br/>
    <%= product.user.email %><br>

  <br/><hr>

  <% end %>
