<h1>List of All Markible Items</h1>

<!-- shows products for a signed in user -->


    <% if user_signed_in? %>
      <%= link_to 'My Items', user_products_path(current_user), class:"button" %>

          <h5>
            <% @products.each do |product| %>
            Product <%= link_to "#{product.name}", product_path(product) %><br/><br/>

            <%= image_tag product.image_url(:thumb), class:"th" %><br/>
            Description: <%= product.description %><br/>
            Price: <%= product.currency_converter%><br/>
            Contact Info: <%= product.user.email if product.user %><br><hr>
            <% end %>
          </h5>
      <% else %>

      <!-- shows products for a non-signed in user -->

<h1>Products Available on Markibles</h1>
  <%= link_to 'All Items', products_path %>

      <h5>
        <% @products.each do |product| %>
        Product <% product.name %><br/><br/>
        <%= image_tag product.image_url.to_s %><br/>
        <%= product.description %><br/>
        <%= product.price %><br/>
        <%= product.user.email if product.user %><br><hr>
        <% end %>
      </h5>
  <br/><br/>





  <% end %>



