<div class="row product-heading">
  <div class="large-12">
    <h3 class='subheader panel'><%= @product.name %> <small>by <%= @product.user.full_name %> </h3>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <%= image_tag @product.image_url.to_s %>
    <h3><%= @product.description %></h3>
    <h3><%= @product.price %></h3>
  </div>
  <div class="large-6 columns">
    <h4>Overall Rating: <%= @product.average_overall %></h4>
    <h4>Overall Flavor: <%= @product.average_flavor %></h4>
    <h4>Overall Presentation: <%= @product.average_presentation %></h4>
    <h1>Contact Me!</h1>
    <hr>

    <%= simple_form_for [@product, @message] do |f| %>
      <%= f.input :subject %>
      <%= f.input :text %>
      <%= f.submit 'Send My Message!' %>

    <% end %>
    <hr>
  </div>


  <h5>
      <% if current_user.id == @product.user.id %>

      <%= link_to "Delete My Product", product_path(@product), data: { confirm: "Are you sure?" }, method: :delete %>
    <% end %>
  </h5>
</div>



<div class="large-12 columns">
  <p>
    <%= link_to "New Ratings", new_product_rating_path(@product) %>
  </p>
</div>


  <h5> Artisan:
    <%= @product.user.first_name %><br/>
    <%= @product.user.last_name %><br/>
    <%= @product.user.email %><br/>
    <%= link_to "Contact me", new_product_message_path(@product) %>
  </h5>

<div class="large-3 columns">
  <h5>
  <% @ratings.each do |rating| %><hr/>
    Overall Rating: <%= rating.overall_rating %><br/>
    Overall Flavor: <%= rating.flavor %><br/>
    Overall Presentation: <%= rating.presentation %></br>
    Additional Comments: <%= rating.additional_comments %><br/>
    <% end %>
  </h5><br/>
</div>










