<h5> Artisan: <%= @product.user.email %> </h5>

  <h3>
    <%= @product.name %><br/><br/>
    <%= image_tag @product.image_url.to_s %><br/>
    <%= @product.description %><br/>
    <%= @product.price %><br/>
  </h3>


