<br/><br/><br/>

<p>
  <%= link_to "New Ratings", new_product_rating_path(@product) %>

<!--[:new, @ratable, :rating]-->

</p>

<h5> Artisan:
  <%= @product.user.first_name %><br/>
  <%= @product.user.last_name %><br/>
  <%= @product.user.email %><br/>
</h5>

  <h3><br/>
    <%= @product.name %><br/><br/>
    <%= image_tag @product.image_url.to_s %><br/>
    <%= @product.description %><br/>
    <%= @product.price %><br/>
  </h3>

  <h3>
    <% @ratings.each do |rating| %>
      <%= rating.overall_rating %><br/>
      <%= rating.flavor %><br/>
      <%= rating.presentation %><br/>
      <%= rating.additional_comments %><br/>
    <% end %>
  </h3>



