<!DOCTYPE html>
<html>
<head>
  <title>Markibles2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  <div class="large-12 columns">

    <!-- Navigation -->
      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <%= link_to 'Markibles', root_path %>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li><%= link_to "Find an item", products_path  %></li>
            <li><%= link_to "See The Shops", sellers_path  %></li>
            <li><%= link_to "Create a store", new_seller_path  %></li>
            <li><%= link_to "List a Food Item!", new_product_path  %></li>
          </ul>

          <ul class="right">
            <li><li class="active">
              <%- if user_signed_in? -%>
                <li class="active"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              <%- else -%>
                <li><%= link_to 'Sign In', new_user_session_path %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path %>
              <%- end -%>
          </ul>
        </section>
      </nav>

<%= yield %>

</body>
</html>
