<!DOCTYPE html>
<html>
<head>
  <title>Markibles</title>
  <%= stylesheet_link_tag  "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  <div class="large-12">
    <!-- Navigation -->
      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <%= link_to 'Markibles', root_path %>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <%- if user_signed_in? -%>
              <li class="has-form">
                <li>
                  <%= link_to "List a Food Item!", new_product_path  %>
                </li>
              </li>
            <%- end -%>
          </ul>

          <ul class="right">
            <li><li class="active">
              <%- if user_signed_in? -%>
                <li class="active"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              <%- else -%>
                <li><%= link_to 'Sign In', new_user_session_path %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path %>
              <%- end -%>
          </ul>
        </section>
      </nav>
    </div>
  </div>

<div class='row'>
<%= yield %>
</div>

</body>
</html>
